@model Web.Models.Profile.ProfileVm

@{
    ViewBag.Title = "Tutor Profile";
    Layout = "_Layout";
}
<div class="row">
    <div class="row mb-2"></div>
    <h1 class="text-center">@ViewData["Title"]</h1>
    @if (@Model.IdentityId == Model.UserVm.Id)
    {
        <div class="m-2">
            <div class="col-8"></div>
            <div class="col-4">
                <form>
                    <button type="submit" class="btn btn-info" asp-action="Edit">
                        Оновити свою анкету
                    </button>
                </form>
            </div>
        </div>
    }
</div>

<div class="card card-flex align-items-center bg-light mb-3">
    <div class="row g-0">
        <div class="col-4">
            <img class="img-fluid rounded-start"
                 src="@Model.UserVm.Avatar"
                 id="avatar"
                 alt="..."/>
        </div>
    </div>
    <div class="col">
        <div class="card-body">
            <div class="row card-title">
                <div class="col lead">
                    <a>@Model.UserVm.FullName</a>

                    @if (Model.TutorVm != null && Model.TutorVm.ReviewCount > 0)
                    {
                        <i class="fa fa-star"></i>
                        @Model.TutorVm.ReviewValue //TODO: ReviewValue + Count
                    }
                </div>
                @if (Model.TutorVm != null)
                {
                    <div class="col text-end">
                        <span class="text-light bg-primary rounded-5 p-lg-2">@Model.TutorVm.HourRate грн/час</span>
                    </div>
                }
            </div>
            <p class="card-text">@Model.TutorVm?.Descriptions</p>
            @if (Model.UserVm.CityId != "0")
            {
                <small class="text-muted">
                    <i class="fa-solid fa-location-dot"></i> @Model.Cities.FirstOrDefault(x => x.Value == Model.UserVm.CityId)?.Text
                </small>
            }
        </div>
    </div>
</div>
@if (@Model.TutorVm != null)
{
    <div class="row justify-content-center mb-3">
        <div class="btn-group col-md-8 col-sm" role="group" aria-label="Select Tutor Part">
            <input type="radio" class="btn-check" name="select_part" id="select_part1" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="select_part1" onclick="window.location='#subjects';">Subjects</label>
            <input type="radio" class="btn-check" name="select_part" id="select_part2" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="select_part2" onclick="window.location='#about_tutor';">About_tutor</label>
            <input type="radio" class="btn-check" name="select_part" id="select_part3" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="select_part3" onclick="window.location='#schedule';">Schedule</label>
            <input type="radio" class="btn-check" name="select_part" id="select_part4" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="select_part4" onclick="window.location='#reviews';">Reviews</label>
        </div>
    </div>
    <!-- subjects -->
    <div class="card bg-light mb-3" id="subjects">
        <div class="card-body">
            <h5 class="card-title mt-3">Subjects</h5>
            @for (var i = 1; i < Model.TutorVm.SubjectIds.Count; i++)
            {
                <span class="badge bg-info"> @Model.Subjects.FirstOrDefault(x => x.Value == i.ToString())?.Text</span>
            }
        </div>
    </div>

    <div class="card bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title mt-3">Places</h5>
            <div class="row px-3">
                <div class="col-md col-sm-12 mb-sm-2">
                    Онлайн
                    @if (Model.TutorVm.OnlineAccess)
                    {
                        <span class="badge bg-primary rounded-pill ms-2">
                            <i class="bi bi-check"></i>
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill ms-2">
                            <i class="bi bi-x"></i>
                        </span>
                    }
                </div>
                <div class="col-md col-sm-12 mb-sm-2">
                    В Учня
                    @if (Model.TutorVm.StudentHomeAccess)
                    {
                        <span class="badge bg-primary rounded-pill ms-2">
                            <i class="bi-check"></i>
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill ms-2">
                            <i class="bi bi-x"></i>
                        </span>
                    }
                </div>
                <div class="col-md col-sm-12 mb-sm-2">
                    У вчителя
                    @if (Model.TutorVm.TutorHomeAccess)
                    {
                        <span class="badge bg-primary rounded-pill ms-2">
                            <i class="bi bi-check"></i>
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill ms-2">
                            <i class="bi bi-x"></i>
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- about_tutor -->
    <div class="card bg-light mb-3" id="about_tutor">
        <div class="card-body">
            <h5 class="card-title mt-3">Address</h5>
            <p class="form-control" id="address-text">@Model.TutorVm.Address</p>
            <h5 class="card-title mt-3">Descriptions</h5>
            <p class="form-control">@Model.TutorVm.Descriptions</p>
            <h5 class="card-title mt-3">About</h5>
            <p class="form-control">@Model.TutorVm.About</p>
        </div>
    </div>

    <partial name="RequestForm" model="@Model.CreateRequestCommand"/>
    @section Scripts
    {
        <script type="text/javascript" src="~/js/tutor-profile/details-calendar.js" asp-append-version="true"></script>
    }
}