@using Web.Models.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Models.TutorProfile
@model Web.Models.TutorProfile.SearchVm

@{
    ViewBag.Title = "Пошук репетитора";
    Layout = "_Layout";
}
<div class="row mb-5">
    <div class="row mb-5"></div>
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<div class="container">
    <div class="row">
        <aside class="col-sm-3">
            <form method="get">
                <div class="card mb-3">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Вартість за годину</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Від</label>
                                        <div class="input-group">
                                            <span class="input-group-text p-2">$</span>
                                            <input asp-for="@Model.Filters.HourRateFrom" type="text" class="form-control" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 text-right">
                                        <label>До</label>
                                        <div class="input-group">
                                            <span class="input-group-text p-2">$</span>
                                            <input asp-for="@Model.Filters.HourRateTo" type="text" class="form-control" placeholder="99999">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="card mb-3">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Місто</h6>
                        </header>
                        <div class="filter-content">
                            <div class="list-group list-group-flush">
                                <div class="input-group">
                                    <select asp-for="Filters.CityId" class="form-select" asp-items="@Model.Cities"></select>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="card mb-3">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Тематика</h6>
                        </header>
                        <div class="filter-content">
                            <div class="list-group list-group-flush">
                                <div class="input-group">
                                    <select asp-for="Filters.SubjectId" class="form-select" asp-items="@Model.Subjects"></select>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="card mb-3">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Тип заняття</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div class="form-check">
                                    <input asp-for="@Model.Filters.OnlineAccess" class="form-check-input" type="checkbox" id="check1">
                                    <label class="form-check-label" for="check1">Онлайн</label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="@Model.Filters.TutorHomeAccess" class="form-check-input" type="checkbox" id="check2">
                                    <label class="form-check-label" for="check2">У вчителя</label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="@Model.Filters.StudentHomeAccess" class="form-check-input" type="checkbox" id="check3">
                                    <label class="form-check-label" for="check3">У студента</label>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row pe-3 ps-3">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i> Шукати
                    </button>
                </div>
            </form>
        </aside>

        <!-- TutorCards -->
        <div class="col">
            @foreach (var x in Model.TutorCards)
            {
                <partial name="_TutorCard" model="@x"/>
            }
        </div>
    </div>
</div>