@using Infra.DatabaseAdapter.Helpers
@using NuGet.Protocol
@using System.Globalization
@using Web.Helpers
@model IEnumerable<Domain.Models.LessonRequest>
<table class="pretty-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TutorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        @if (Model.Count() > 0 && !Model.First().IsTutor)
        {
            <th>
                @Html.DisplayNameFor(model => model.TutorComment)
            </th>
        }
        <th>
            Доступні дії
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @item.UserName.Truncate(7)
            </td>
            <td>
                @item.TutorName.Truncate(7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @if (!item.IsTutor)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TutorComment)
                </td>
            }
            <td>
                @if (item.IsTutor)
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>