@using Web.Helpers
@model Web.Models.Lessons.ListLessonVm

@{
    ViewData["Title"] = "Уроки";
    Layout = "_LayoutFilterTable";
}

<!-- Head button -->

<div class="d-flex mb-3">
    <div class="p2">
        <h4 class="mb-1">Уроки</h4>
    </div>
    @if (Model.IsTutor)
    {
        <div class="ml-auto">
            <a asp-action="Create" class=" text-whitу">
                Додати заняття
                <i class="fas fa-plus btn btn-primary ml-1"></i>
            </a>
        </div>
    }
</div>
<!-- End Head button -->
<!-- Lesson table -->
<table class=" table pretty-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lessons.First().SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lessons.First().TutorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lessons.First().StudentNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lessons.First().LessonDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lessons.First().From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lessons.First().To)
        </th>
        <th nowrap="nowrap">
            Дії
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Lessons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                @item.StudentNames.Truncate(15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td class="text-right text-nowrap">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<!-- End Lesson table -->