@using Infra.DatabaseAdapter.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Helpers
@using Microsoft.OpenApi.Extensions
@model Web.Models.Solutions.SolutionVm

@{
    ViewData["Title"] = Model.Solution.SubjectName + " - " + Model.Solution.AssignmentTitle;
    Layout = "_Layout";
}

<div class="container-sm">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="bg-white rounded shadow-sm p-5 mb-4">
                <h4 class="mb-1">@Model.Solution.AssignmentTitle</h4>

                <!-- Assignment -->
                <div class="row">
                    <div class="col">
                        <label asp-for="Solution.SubjectName" class="col"></label>
                    </div>
                    <div class="col text-black">@Model.Solution.SubjectName</div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="Solution.TutorName" class="col"></label>
                    </div>
                    <div class="col text-black">@Model.Solution.TutorName</div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="Solution.Deadline" class="col"></label>
                    </div>
                    <div class="col text-black">@Model.Solution.Deadline</div>
                </div>
                @if (Model.Solution.Description != null && Model.Solution.Description.Length > 0)
                {
                    <div class="form-group">
                        <h4 class="row">Опис завдання</h4>
                        <p class="row text-wrap text-break w-100">@Model.Solution.Description</p>
                    </div>
                }
                <!-- End Assignment -->

                <!-- Files -->
                @if (Model.Solution.AssignmentFiles.Count > 0)
                {
                    <div class="upload mb-3">
                        <h4 class="row mb-2">Матеріали до заняття</h4>
                        @foreach (var item in Model.Solution.AssignmentFiles)
                        {
                            <div class="d-flex m-1">
                                <div class=" mr-auto text-truncate pr-3">@item.FileName</div>
                                <div class="ml-2">
                                    <a type="button" class="btn btn-sm btn-outline-primary"
                                       asp-controller="File" asp-action="Download" asp-route-id="@item.Id" target="_blank">
                                        <i class="fa-solid fa-arrow-down"></i>
                                        <!-- Завантажити файл -->
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                }
                <!-- End Files -->
            </div>
        </div>
    </div>
</div>

<!-- Solution -->
<div class="container-sm">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="bg-white rounded shadow-sm p-5 mb-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Solution.Id"/>
                    <input type="hidden" asp-for="IsTutor"/>

                    <div class="form-group">
                        <label asp-for="Solution.StudentName" class="control-label"></label>
                        <input asp-for="Solution.StudentName" class="form-control nborder" readonly/>
                        <span asp-validation-for="Solution.StudentName" class="text-danger"></span>
                    </div>
                    <!-- Student Answer -->
                    <div class="form-group">
                        <label asp-for="Solution.Answer" class="control-label"></label>
                        @if (!Model.IsTutor && Model.Solution.Status == SolutionStatus.Todo)
                        {
                            <textarea asp-for="Solution.Answer" rows="4" class="form-control"></textarea>
                            <span asp-validation-for="Solution.Answer" class="text-danger"></span>
                        }
                        else
                        {
                            <textarea asp-for="Solution.Answer" rows="4" class="form-control nborder" readonly></textarea>
                        }
                    </div>
                    <!-- Tutor comment -->
                    <div class="form-group">
                        <label asp-for="Solution.TutorComment" class="control-label"></label>
                        @if (Model.IsTutor && Model.Solution.Status != SolutionStatus.Completed)
                        {
                            <textarea asp-for="Solution.TutorComment" rows="4"  class="form-control"></textarea>
                            <span asp-validation-for="Solution.TutorComment" class="text-danger"></span>
                        }
                        else
                        {
                            if (Model.Solution.TutorComment?.Length > 0)
                            {
                                <input asp-for="Solution.TutorComment" class="form-control nborder" readonly/>
                            }
                        }
                    </div>
                    <!-- Solution Status -->
                    <div class="form-group">
                        <label asp-for="Solution.Status" class="form-check-label mt-2"></label>
                        @if (Model.IsTutor && Model.Solution.Status != SolutionStatus.Completed)
                        {
                            <select asp-for="Solution.Status" class="form-select" id="status" asp-items="Html.GetEnumSelectList<SolutionStatus>()"></select>
                            <span asp-validation-for="Solution.Status" class="text-danger"></span>
                        }
                        else
                        {
                            <select asp-for="Solution.Status" class="form-select nborder" id="status" asp-items="Html.GetEnumSelectList<SolutionStatus>()" disabled></select>
                        }
                    </div>

                    <!-- Submit -->
                    <div class="d-flex">
                        <div class="ml-auto px-2">
                            <input type="submit" value="Зберегти" class="btn btn-primary"/>
                        </div>
                        <div>
                            <a class="btn btn-secondary " asp-action="Index">Скасувати</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Solution -->
<!-- Solution Files -->
<div class="container-sm">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="bg-white rounded shadow-sm p-5 mb-4">
                <partial name="FilesForm" model="@Model.Solution.SolutionFiles"/>
                <form id="uploadform" asp-controller="File" asp-action="Upload" enctype="multipart/form-data">
                    <input type="hidden" class="mt-3" asp-for="Solution.Id" name="SolutionId"/>
                    <input class="form-control form-control-sm" id="uploadform-file" name="FormFile" type="file">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Solution Files -->