@using Infra.DatabaseAdapter.Helpers
@model Web.Models.Assignments.SolutionListVm

@{
    ViewData["Title"] = "Учень: Задачі";
}
<form asp-action="Index" method="get" xmlns="http://www.w3.org/1999/html">
    <input asp-for="Filter.UserId" name="userid" hidden/>
    <div class="row row-cols-md-6">
        <div class="col">
            <label asp-for="Filter.Status" class="form-check-label"></label>
            <select asp-for="Filter.Status" asp-items="@Html.GetEnumSelectList<SolutionStatus>()" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.SubjectId" class="form-check-label"></label>
            <select asp-for="Filter.SubjectId" asp-items="@Model.Subjects" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.TutorId" class="form-check-label"></label>
            <select asp-for="Filter.TutorId" asp-items="@Model.HisTutors" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.StudentId" class="form-check-label"></label>
            <select asp-for="Filter.StudentId" asp-items="@Model.HisStudents" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.AssignmentId" class="form-check-label"></label>
            <select asp-for="Filter.AssignmentId" asp-items="@Model.Assignments" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col justify-content-md-center">
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-arrows-rotate"></i>
            </button>
        </div>
    </div>

</form>
<h1>Index</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().AssignmentTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().TutorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().UpdatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Solutions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Детально</a>
            </td>
        </tr>
    }
    </tbody>
</table>