@using Infra.DatabaseAdapter.Helpers
@model Web.Models.Assignments.SolutionListVm

@{
    ViewData["Title"] = "Учень: Задачі";
}
<div class="row-cols-md-4">
    <form asp-action="Index" method="get">
        <input asp-for="Filter.UserId" name="userid" hidden/>
        <div class="col">
            <label asp-for="Filter.Status" class="form-check-label"></label>
            <select asp-for="Filter.Status" asp-items="@Html.GetEnumSelectList<SolutionStatus>()" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <input type="submit" value="Оновити" class="btn btn-primary"/>
        </div>
    </form>
</div>
<h1>Index</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().AssignmentTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().TutorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solutions.First().UpdatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Solutions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Детально</a>
            </td>
        </tr>
    }
    </tbody>
</table>