@using Infra.DatabaseAdapter.Helpers
@using Web.Helpers
@model Web.Models.Solutions.SolutionListVm

@{
    ViewData["Title"] = "Завдання • Для виконання";
    Layout = "_LayoutFilterTable";
}
<!-- Head button -->

<div class="d-flex mb-3">
    <div class="p2">
        <h4 class="mb-1">@ViewData["Title"]</h4>
    </div>
</div>
<!-- End Head button -->
<!-- Head Filter-->
<form asp-action="Index" method="get" class="my-3">

    <div class="row d-flex row-cols-md-6 justify-content-start">
        <input asp-for="Filter.UserId" name="userid" hidden/>
        <div class="col">
            <label asp-for="Filter.Status" class="form-check-label"></label>
            <select asp-for="Filter.Status" asp-items="@Html.GetEnumSelectList<SolutionStatus>()" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.SubjectId" class="form-check-label"></label>
            <select asp-for="Filter.SubjectId" asp-items="@Model.Subjects" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.TutorId" class="form-check-label"></label>
            <select asp-for="Filter.TutorId" asp-items="@Model.HisTutors" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.StudentId" class="form-check-label"></label>
            <select asp-for="Filter.StudentId" asp-items="@Model.HisStudents" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col">
            <label asp-for="Filter.AssignmentId" class="form-check-label"></label>
            <select asp-for="Filter.AssignmentId" asp-items="@Model.Assignments" class="selectpicker form-control" data-width="100%" data-live-search="true" multiple></select>
        </div>
        <div class="col align-self-end">
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-arrows-rotate"></i>
            </button>
        </div>
    </div>
</form>
<!-- End Head Filter-->


<table class="table pretty-table stripe" style="white-space: nowrap;">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Solutions.First().Id)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Solutions.First().SubjectName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Solutions.First().AssignmentTitle)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Solutions.First().TutorName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Solutions.First().StudentName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Solutions.First().Status)
        </th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Solutions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @item.AssignmentTitle.Truncate(25)
            </td>
            <td>
                @item.TutorName.Truncate(15)
            </td>
            <td>
                @item.StudentName.Truncate(15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn small-text small btn-outline-primary">
                    <i class="small-text small fa-solid fa-pen-to-square"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>